In [20]:
import numpy as np
import pandas as pd
from scipy import stats

# The Hypotheses that need to be tested:
- Customer with ID: `14911` from Ireland is the highest Customer spending money and requesting quantities.
- Oct_10, Nov_10 are the top two months in Quantities and Prices demanded.
- seems that firs and last days of the week have the highest Prices and Quantities.
- Saturday has the least amount of quantity and Profit.
- Thursday is the highest day with quantity and profit.
- There is a clear trend, the number of orders increases from 7am onwards and peaks at noon, and then slowly decreases and ends at 8pm.
- Most people order between 10am and 3pm. 
- United Kingdom has the highest score of Invoices, Quantities and Prices. but it has a huge number of invoices so I will ignore it and recreate the plot to see the scores of the rest of the countries.
    - Germany, Ireland, France and Netherlands are respectively the top 4 countries requesting Invoices. As the physical distance from the UK increases with each country, fewer orders are placed.
    - Ireland, Germany, France and Netherlands are respectively the top 4 countries requesting  Prices and Quantites. Ireland has a little bit lower Quantity score than Germany but it has higher score in prices.

In [21]:
df = pd.read_csv("New Retail.csv")
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,UnitPrice,Year,Month,Day,Hour,WeekDay
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085,United Kingdom,1.73,2009,12,1,7,Tuesday
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085,United Kingdom,1.78,2009,12,1,7,Tuesday
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085,United Kingdom,1.78,2009,12,1,7,Tuesday
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085,United Kingdom,22.86,2009,12,1,7,Tuesday
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085,United Kingdom,19.20,2009,12,1,7,Tuesday

In [22]:
def test_two_samples(col, categroy_of_interest, feature, alternative='greater'):
    mask = df[col] == categroy_of_interest
    
    revenue = df[feature][mask]
    no_revenue = df[feature][~mask]

    t_stat, p_value = stats.ttest_ind(revenue, no_revenue, alternative=alternative, equal_var=False)
    print(f'statistic is : {t_stat:.003f}, p-value: {p_value:.003f}')

- Customer with ID: `14911` is the highest Customer spending money and requesting quantities (reject the null hypothesis)
    - H_0 :  14911 Customer spending >= other Customer spending
    - H_1 : other Customer spending < 14911 Customer spending

In [23]:
test_two_samples("Customer ID", 14911, "Price")

statistic is : 12.685, p-value: 0.000

- Satuday has the lowest amount of  Quantities and Prices (fail to reject the null hypothesis). We can't generalize this hypothesis across all times.
    - H_0 :  Saturday(Price, Quantity) >= Other Days(Price, Quantity)
    - H_1 : Saturday(Price, Quantity) < Other Days(Price, Quantity)

In [24]:
test_two_samples("WeekDay", "Saturday", "Quantity", alternative="less")

statistic is : 5.456, p-value: 1.000

In [25]:
test_two_samples("WeekDay", "Saturday", "Price", alternative="less")

statistic is : 4.362, p-value: 1.000

- Thursday has the highest amount of  Quantities and Prices (Reject the null hypothesis).
    - H_0 :  Thursday(Price, Quantity) <= Other Days(Price, Quantity)
    - H_1 : Thursday(Price, Quantity) > Other Days(Price, Quantity)

In [28]:
test_two_samples("WeekDay", "Thursday", "Price")

statistic is : 3.150, p-value: 0.001

In [29]:

test_two_samples("WeekDay", "Thursday", "Quantity")

statistic is : 6.333, p-value: 0.000

- United Kingdom has the highest amount of Invoices, Quantities and Prices (fail to reject the null hypothesis). 
    - H_0 :  United Kingdom(Price, Quantity) <= Other Countries(Price, Quantity)
    - H_1 : Other Countries(Price, Quantity) < United Kingdom(Price, Quantity)

In [31]:
test_two_samples("Country", "United Kingdom", "Quantity")

statistic is : -75.799, p-value: 1.000

In [39]:
test_two_samples("Country", "United Kingdom", "Price")

statistic is : -2.571, p-value: 0.995